body {
  background-color: #DFDDDA;
}

.basicLayout { /*class for footnote and menueBar*/
  width: 100%;
  height: 15vh;
  position: relative;
  background-color: #202225;
}
.basicVertBanner {
  width: 15vw;
  height: 100%;
  position: relative;
  background-color: #202225;
}
.basicText {
  font-family: Arial, sans-serif;
  color: #DFDDDA;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 5vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

#footnote {
  color: #FFD700;
  font-size: 100%;
}

.basicLayout input[type=text] {
  height: 4vh;
  width: 10vw;
  border: none;
  font-size: 50%;
}

a {
  color: #DFDDDA;
  text-decoration: none;
}
#navigation a:hover {
   background-color: #DFDDDA;
   color: #202225;
}

.searchField {
  background-color: #000;
  color: #DFDDDA;
}

img {
  height: 100%;
}

#language {
  background-color: #202225;
  width: 5vw;
  height: 3vh;
  font-size: 50%;
  color: #DFDDDA;
}
#language option {
  width: 5vw;
  height: 3vh;
  font-size: 100%
}

#bottomAlign {
  position:absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
}
#topAlign {
  position:absolute;
  top: 0;
  left: 0;
}
#leftAlign {
  position:absolute;
  top: 0;
  left: 0;
}
#rightAlign {
  position:absolute;
  top: 0;
  right: 0;
}

/*specific sites*/
.news {
  margin-left: 15vw;
  margin-top: 15vh;
  margin-right: 15vw;
  color: #202225;
}


/*specific elements*/
.teaser{
  background-color: #202225;
  position:absolute;
  color: #DFDDDA;
  margin-top: 15vh;
  justify-content: center;
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #202225;
}
#newsTeaser {
  left: 2vw;
  height: 73vh;
  width: 20vw;
}
#gamesTeaser{
  right: 2vw;
  height: 40vh;
  width: 70vw;
}
#socialTeaser{
  top: 54vh;
  right: 2vw;
  height: 23vh;
  width: 70vw;
}
